.error-message {
  text-align: center;
  color: #b10505;
  font-weight: 800;
  font-size: 20px;

}

.success-message {
  text-align: center;
  color: #051fb1;
  font-weight: 800;
  font-size: 20px;

}
