/*ALL dressS PAGE STYLING START*/

.all-dresses {
  margin: 50px 0 90px 0;
}

.all-dresses h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007F86;
}

.all-dress-filter-div {
  margin-left: 5rem;
}

.all-dress-filter-div label {
  color: #007F86;
}

.filter-select-div {
  width: 100%;
  margin: 0 0 0 4rem;
}

.add-dress-button {
  float: right;
  margin-right: 70px;
  font-weight: 600;
}

.all-dress-filter-div label {
  font-weight: 800;
  font-size: 20px;

}

.all-dress-filter-div select {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}





/*ALL DRESSES PAGE STYLING ENDS*/
